**Input**

- Input is a keyword we can provide values from keyboard
- which means user can give the own values 
- The kernel will be busy until unless you need to provide values inside the box
- provide the value and hit enter
- make sure that * should gone
- the default data type is **string data type**

In [1]:
input()

123 nenoka kantri

'123 nenoka kantri'

In [3]:
a=10

In [2]:
a=input()

90

In [4]:
a=input()
b=input()
a+b

100
200

'100200'

In [5]:
type(a)

str

In [6]:
type(b)

str

In [7]:
a= int(input()) #int('100') = 100
b=int(input())  #int('200') = 200
a+b             #100+200 = 300

100
200

300

In [8]:
type(a)

int

In [9]:
a=int(input("enter the num1:"))
b=int(input("enter the num2:"))
c=a+b
print(f"the addition of {a} and {b} is {c}")

enter the num1:100
enter the num2:200
the addition of 100 and 200 is 300

In [10]:
input()

nareshit

'nareshit'

In [4]:
input("enter the name:")

enter the name:Rahul Bhupathi

'Rahul Bhupathi'

In [3]:
input("enter the number1:")

enter the number1:89

'89'

In [17]:
name1=input()
name2=input("enter the name:")
num=input("enter the number1:")
print(name1)
print(name2)
print(num)

Welcome to input values
enter the name:rahul
enter the number1:300
Welcome to input values
rahul
300

In [6]:
n1 = int(input("enter the num1:"))  #int(500) = 500
n2 = int(input("enter the num2:"))  #int(600) = 600
add=n1+n2                           #add=500+600
print(add)

enter the num1:500
enter the num2:600
1100

In [22]:
n1 = input("enter the num1:")  # n1='100'
n2 = input("enter the num2:")  #n2 ='200'
add=int(n1)+int(n2)            #add=500+600
print(add)

enter the num1:100
enter the num2:200
300

In [25]:
n1 = float(input("enter the num1:"))  # n1='100.5'
n2 = float(input("enter the num2:"))  #n2 ='200.5'
add=n1+n2         #add=100.5+200.5
print(add)

enter the num1:100.5
enter the num2:200.5
301.0

- whenever int is there, don't give the float values
- if you want to give float values then apply float conversion
- if you want to give int values then apply int conversion

**Eval**

- eval Meaning Evaluate
- eval will be used for numbers only, not for english
- eval will convert int numbers to integer, and 
- eval will convert float numbers to float only

In [27]:
n1 = eval(input("enter the num1:"))  # n1='100'
n2 = eval(input("enter the num2:"))  #n2 ='100.5'
add=n1+n2         #add=100+100.5
print(add)

enter the num1:100
enter the num2:100.5
200.5

In [29]:
n1 = eval(input("enter the num1:"))  # n1='100'
n2 = eval(input("enter the num2:"))  #n2 ='200'
add=n1+n2         #add=100+200
print(add)

enter the num1:100
enter the num2:200
300