In [ ]:
# Print is used to see some answers
# In jupiter notebook, we no need to provide print statement in order to see the answer
# if more than 2 answers are there, we can check all answers using print statements

In [1]:
a=10
a

10

In [2]:
print(a)

10

In [4]:
a=10
b=20
a
b

20

In [4]:
a=10
b=20
print(a)
print(b)

10
20

In [5]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [8]:
num1=20
num2=30
add=num1+num2
print(add)
print(num1+num2)
print(add=num1+num2) # Not works
# the addition of 20 and 30 is 50

50
50

In [8]:
num1=20
num2=40
add=num1+num2
print(add)
# print(add=num+num2)

60

In [10]:
num1=20
num2=30
add=num1+num2
print('the addition of',num1,'and',num2,'is',add)

# print("the addition of 20 and 30 is 50") # dont use this

the addition of 20 and 30 is 50

In [11]:
name ='python'
age=10
city='hyd'
#hello my name is python, im 10 years old from hyd
print('hello my name is',name,'im',age,'years old from',city)

hello my name is python im 10 years old from hyd

**format method**

In [10]:
num1=345
num2=678
add=num1+num2
# print('the addition of',num1,'and',num2,'is',add)
print('the addition of',num1,'and','num2' 'is', add)


print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 345 and num2is 1023
the addition of 345 and 678 is 1023

- First Decide how the print statement should be
- Then replace the variables position as curly braces
- Then apply .format method

In [15]:
name ='python'
age=10
city='hyd'
print('hello my name is python, im 10 years old from hyd')
print("hello my name is {}, im {} years old from {}".format(name,age,city))

hello my name is python, im 10 years old from hyd
hello my name is python, im 10 years old from hyd

In [13]:
num1=100
num2=67
num3=89
avg=(num1+num2+num3)/3
print("the average of num1,num2 and num3 is:avg")
print("the average of {},{} and {} is:{}". format(num1,num2,num3,avg))

the average of num1,num2 and num3 is:avg
the average of 100 and 67 is 85.33333333333333

**round off method**

In [22]:
val=50.666666666666664
round(val,2)

50.67

In [23]:
num1=100
num2=22
num3=30
avg=(num1+num2+num3)/3
avg1=round(avg)
print("the average of num1,num2 and num3 is:avg")
print("the average of {},{} and {} is:{}". format(num1,num2,num3,avg1))

the average of num1,num2 and num3 is:avg
the average of 100,22 and 30 is:51

**f-string method**

- variables should be inside the curly braces
- and write everything inside quotes 
- at starting add f

In [26]:
num1=200
num2=300
add=num1+num2
print(f"the addition of {num1} and {num2} is: {add}")

the addition of 200 and 300 is: 500

- f-string method is best method in real time

In [29]:
num1=100
num2=22
num3=30
avg=(num1+num2+num3)/3
avg1=round(avg)

print(f"the average of {num1},{num2} and {num3} is:{avg}")

the average of 100,22 and 30 is:50.666666666666664

In [30]:
name ='python'
age=10
city='hyd'
print(f"hello my name is {name}, im {age} years old from {city}")

hello my name is python, im 10 years old from hyd

**End Operator**

In [32]:
print('hello', end=' ') #1
print('good morning')   #2
print()

#hello good morning

hello good morning

In [34]:
print(1,end=' ')
print(2,end=' ')
print(3)

1 2 3

**Separator**
- Inside one print statement we have multiple values 
- I want to separate these multiple values with anything

In [37]:
print("hello","hai",sep=' ')
# hello & hai

hello hai

In [39]:
print(3,'.')

3 .

In [40]:
print(3,'.',sep='')

3.

we completed 
- format
- f-string
- end - multiple print statements 
- sep - single print, multiple values

In [14]:
# print(1,2,end=' @ ')
print(1,2,3,'.',sep='')

123.