In [1]:
number=100

**type**

In [3]:
type(number)

int

- integer


- float


- string


- Boolean


- Complex


- list


- tuple


- dictionary


- set

# Python basic concepts - Part1


- Variables
    
- Data Types

- Data types conversion (type casting)

- print statements 

- overview about packages

- write your first end to entd program

- conditions (if-else)

- Functions

- loops(for-while)


# Python Part-2


- Strings

- Lists 

- dictionary

- tuple (assessment)

- sets

- file handling 

- Lambda Functions



# Python part-3: OOPS Concepts

# Python EDA

- Numpy

- Pandas

- matplotlib

**Integer**

- binary:
    - In real time we will use decimal number system
    
    - whatever the input but python will give output in decimal number format

    - binary includes only 0 and 1

    - bi means 2

    - representation is : 0b111, 0B101
    
    - wrong represenation is : 0b123

In [6]:
num=111
type(num)

int

In [7]:
0b111

7

In [8]:
0b1111

15

In [9]:
0b101

5

In [10]:
0b110

6

In [11]:
0b1110

14

In [12]:
0b101010

42

- octa:
    
    - octa means 8
    
    - octa includes only 0 1 2 3 4 5 6 7
    
    - representation is : 0o123, 0O456
        
    - wrong represenation is :0o897

In [2]:
0o123

83

In [4]:
0o567

375

- hexa:
    
    - hexa means 16
    
    - hexa includes only 0 1 2 3 4 5 6 7 8 9 A B C D E F
    
    - A=10, B=11, c=12, D=13, E=14, F=15
    
    - represenation is : 0x123, 0xabc
        
    - wrong represenation is : 0xabz

In [5]:
0x123

291

In [6]:
0xabc

2748

In [7]:
0b110

6

In [ ]:
8 4 2 1
0 0 0 0 = 0
0 0 0 1 = 1
0 0 1 0 = 2
0 0 1 1 = 3
0 1 0 0 = 4
0 1 0 1 = 5
0 1 1 0 = 6
0 1 1 1 = 7
0 1 0 0 = 8
1 0 0 1  =9
1 0 1 0
1 0 1 1
1 0 0 0
1 1 0 1
1 1 1 0
1 1 1 1
1 1 0 0

## Float

In [14]:
number_float=123.256
type(number_float)

float

In [8]:
1e1

10.0

In [9]:
1e2

100.0

In [10]:
1e1,1e2,1e3,1e4

(10.0, 100.0, 1000.0, 10000.0)

In [12]:
1e+1,1e2+2,1e3+3,1e+3 # multiplication

(10.0, 102.0, 1003.0, 1000.0)

In [15]:
1e-1, 1e-2, 1e-3 #division 1 divided by 10, 100, 1000

(0.1, 0.01, 0.001)

In [16]:
# You need to check some ans will be zero
#0.0
#1e-13
7.74619736e-15

1e-10
1/(10000000000) = 0.0000000010 ~ 0

7.74619736e-15

**Boolean**

- True = 1 

- False = 0

In [23]:
ans = True
type(ans)

bool

In [24]:
wrong_ans= False
type(wrong_ans)

bool

In [26]:
true=True
true

True

In [27]:
wrong_ans=False
wrong_ans=5
wrong_ans

5

In [28]:
# data type also will be changed
type(wrong_ans)

int

$String$

- string

In [30]:
name1 = 'python'
name1

'python'

In [31]:
name2 = "naresh it"
name2

'naresh it'

In [32]:
name3 = 'My name is Rahul'
name3

'My name is Rahul'

In [33]:
type(name1)

str

integer ==== int

boolean ==== bool

string  ==== str

float   ==== float

In [ ]:
I like 'python'

In [36]:
name3 = "i 'like' python"
name3

"i 'like' python"

In [37]:
name4 ='i "like" python'
name4

'i "like" python'

In [38]:
name5 = "i like 'python'"
name5

"i like 'python'"

**Note**

- Entire sentence in single quotes, then highlighted word in double quotes 

- Entire sentence in double quotes, then highlighted word in single quotes

In [42]:
str1 = """hello how are you
        how do you do
        im good
        how is DS class"""

str1

# \n =  new line
# there is multiple lines are there in output

'hello how are you\n        how do you do\n        im good\n        how is DS class'

In [43]:
print(str1)

hello how are you
        how do you do
        im good
        how is DS class

- Strings can represent in single quotes, double quotes or triple quotes

- When a person writing something in triple quotes : **Doc String**
    
- Triple are used for conveying information like markdown in Jupyter notebook

- Triple quotes are not used for coding part

**Type Casting**