In [1]:
a=20
b=30
a*b

600

In [3]:
a=20
b=30
a+b


# shift+enter

50

Hello Python

Hello Python
If i run the hello Python in code mode it will give the Error
No square bracket means markDown Mode

# Python

## python

### python

python is easy

esc+m : Code Mode to MarkDown Mode

esc+y: Markdown Mode to Code Mode

shift+enter

- kernel white color is available ready to do work
- if kernel is black colr he is already in work , you need to wait
- CTRL+ plus zoom in
- CTRL+ minus zoom out
- if u see any star mark or black color in kernel, 
- it means its busy do not write or execute any cells
- python code execute sequencially(step-by-step), not parallely

- Python is our friend
- Python does not have any semicolons
- Python will not ask any data types

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/640px-Python-logo-notext.svg.png" jsaction="VQAsE" class="sFlh5c pT0Scc iPVvYb" style="max-width: 640px; height: 142px; margin: 0px; width: 130px;" alt="Python (programming language) - Wikipedia" jsname="kn3ccd" aria-hidden="false">

In [3]:
import os  # shift+enter

In [4]:
os.getcwd() #enter tab button, get current working directory

'C:\\Users\\Rahul\\Documents\\NareshIT\\Python'

python
code === mark down

select the cell

esc+m

esc+y

In [5]:
os.getcwd()

'C:\\Users\\Rahul\\Documents\\NareshIT\\Python'

 ##  Variables

- Variable is used to store a value 

- Variables can change their values

- In python, latest value will be considered 

- python is a step by step process

In [7]:
num =10 # value 10 stored in  variable called 'num'
num

10

In [8]:
NUM=100
NUM

100

In [9]:
# whenever u run new cell will be created 
# shift+enter

In [10]:
NUMber =200
NUMber

200

In [14]:
omkar =500
omkar

500

In [11]:
number123=300
number123

300

In [2]:
num@one=1
num@one

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2477609755.py, line 1)

In [16]:
num 1=300
num 1

SyntaxError: invalid syntax (3559867608.py, line 1)

In [17]:
123num =400
123num

SyntaxError: invalid decimal literal (3611000210.py, line 1)

In [20]:
num_one=500
num_one

500

In [21]:
_=800
_

800

In [22]:
if=700
if

SyntaxError: invalid syntax (3092338201.py, line 1)

In [23]:
while=800
while

SyntaxError: invalid syntax (2600268535.py, line 1)

-  variables are case sensitive


-  variables can be capitals and  small letters


-  variables does not allow special characters except underscore


-  Only one underscore can be a variable


-  variables does not contain space between the words


-  Variables cannot contain numbers as prefix ex:123num


-  Variables can have numbers as suffix ex:num123

    
-  Variables doesnot contain any keywords